body{
    height: 100%;
    max-width: 100%;
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(64, 64, 64);
    background-color: rgb(249, 249, 249);
}

.wrapper{
    margin: 0 auto;
    width: 600px;
    min-height: 100%;
    padding-top: 100px;
}

@media(max-width: 600px){
    .wrapper{
        width: 350px;    
    }
}

@media(max-width: 500px){
    .wrapper{
        width: 300px;    
    }
}

@media(max-width: 430px){
    .wrapper{
        width: 250px;    
    }
}

.tabs{
    margin: 0 auto;
    max-width: 400px;
}

.login{
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    background-color: azure;
    -webkit-box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
}

.login-form{
    max-width: 300px;
    margin: 0 auto;
}

.form{
    padding: 50px;
}

label{
    display: block;
    margin-bottom: 10px;
}

.login__input{
    margin-bottom: 30px;
    width: 100%;
    height: 30px;
    border: 1px solid rgb(219, 218, 218);
    border-radius: 4px;
}

.login__button{
    display: block;
    max-width: 100px;
    padding: 10px 15px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: rgb(167, 251, 223);
    border: 0;
}

.login__button:hover{
    -webkit-box-shadow: 0px 0px 5px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 5px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 5px 3px rgba(34, 60, 80, 0.2);
}

.todo-list{ 
    display: none;
    background-color: azure;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
}

.list-tasks{
    padding: 40px;
}

.list__title{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 30px;
}

.list__input{
    display: block;
    margin: 30px auto;
    max-width: 100%;
    height: 30px;
    border: 1px solid rgb(219, 218, 218);
    border-radius: 4px;
}

.list__button{
    display: block;
    max-width: 100px;
    padding: 10px 15px;
    margin: 0 auto 20px;
    border-radius: 4px;
    background-color: rgb(167, 251, 223);
    border: 0;
}

.list__button:hover {
    -webkit-box-shadow: 0px 0px 5px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 5px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 5px 3px rgba(34, 60, 80, 0.2);
}

.list__items{
   max-width: 100%;
}

.list__finish{
    display: none;
    margin-top: 30px;
    text-align: center;
}